<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <meta name="description" content="Приглашают Вас на свадьбу">
        <title>Александр и Екатерина</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Lora&family=Luxurious+Script&family=Playfair+Display+SC&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="https://static.tildacdn.com/tild6164-6231-4838-b732-313264613965/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="./assets/css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <!--Menu-->
            <section class="menu">
                <div class="navMenu">
                    <a class="navMenuTitle" href=# id="begin">ПРИГЛАШЕНИЕ</a>
                </div>
                <div class="iconsBlock" style="display:none">
                    <div class="burgerMenu">
                        <nav class="burgerMenu-items">
                            <ul class="burgerMenu-itemsText">
                              <li><a href="#invite">Приглашение</a></li>
                              <li><a href="#map">Карта</a></li>
                              <li><a href="#program">Программа дня</a></li>
                              <li><a href="#dress">Дресс-код</a></li>
                              <li><a href="#timer">Таймер</a></li>
                              <li><a href="#manager">Организатор</a></li>
                              <li><a href="#form">Обратная связь</a></li>
                            </ul>
                          </nav>
                          <div class="burgerMenu-icons">
                            <span class="burger-icon"></span>
                            <span class="burger-icon"></span>
                            <span class="burger-icon"></span>
                            <span class="musicButton-title">МЕНЮ</span>
                          </div>
                    </div>
                </div>
            </section><!--Окончание Menu-->
            <!--Title Block-->
            <section class="mainBlock">
                <div class="mainBlockOutline"></div>
                <div class="mainBlock-text">
                    <h2 class="logo"></h2>
                    <p class="logoName">Александр</p>
                    <p class="logoName symbol">и</p>
                    <p class="logoName">Екатерина</p>
                    <p class="logoName date">13.09.2023</p>
            </div>
                <i class="fa fa-angle-double-down arrowTop" aria-hidden="true"></i>
            </section>
            <!--Окончание Title Block-->
            <!--New Era-->
            <section class="newEra">
                <p>" Новая эра любви, <br> новая жизнь"</p>
                <img class="endBlockImage" src="./assets/images/endBlock.png" alt="flowers">
            </section>
            <!--Окончание New Era-->
            <!--Invitation-->
            <section id="invite" class="invitation">
                <img class="invitationBackgroundImage" src="./assets/images/flowersRight.png" alt="image">
                <img class="invitationBackgroundImage invitationFlowers" src="./assets/images/endBlock.png" alt="image">
                <p class="invitationTitle">Дорогие друзья и родные!</p>
                <p class="invitationText">Приглашаем разделить <br> с нами радость особенного для нас события и стать свидетелями начала нашей семейной жизни!</p>
                <p class="invitationText finishedText">Ждём Вас</p>
                <p class="invitationTitle dateText">13.09.2023</p>
                <p class="invitationText placeText">Поместье "Лесное Чудо"</p>
                <img class="endBlockImage invitationEndBlockImage" src="./assets/images/endBlock.png" alt="flowers">
            </section>
            <!--Окончание invitation-->
            <!--Calender block-->
            <section class="calender">
                <p class="calenderTitle">Сентябрь</p>
                <table class="calenderDays">
                    <tr class="calenderRow">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr class="calenderRow">
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>31</td>
                    </tr>
                </table>
                <img class="calenderHeart" src="./assets/images/heart.png" alt="heart">
                <img class="calenderEndBlockImage" src="./assets/images/endBlock.png" alt="flowers">
            </section>
            <!--Окончание Calender-->
            <!--Map Блок-->
            <section id="map" class="mapBlock">
                <p class="calenderTitle">Как добраться</p>
                <p class="mapText">Для вашего удобства мы подготовили карту. Надеемся, что вы легко найдете место проведения свадьбы и порадуете нас своим пристутствием!</p>
                <div class="mapSection">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad3383bc2e577c3e431b5c68971c5892a0659db00e813666b76367e847c05a4d6&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </section>
            <!--Окончание Map Блок-->
            <!--Programm Block-->
            <section id="program" class="programmBlock">
                <img class="programmBlockFlowers" src="./assets/images/flowers.png" alt="flowers">
                <hr class="programmBlockLine">
                <p class="programmBlockTitle">Программа дня</p>
                <div class="programBlockIcons">
                    <div class="programBlockColumn">
                        <div class="programmBlockItem">
                            <img class="programmBlockIcon" src="./assets/images/icons/1.jpg" alt="picture">
                            <p class="programmBlockItemTitle">15:30</p>
                            <p class="programmBlockItemTextTitle">Сбор гостей</p>
                            <p class="programmBlockItemText">Собираясь на мероприятие, просим взять с собой ваши прекрасные улыбки и хорошее настроение</p>
                        </div>
                        <div class="programmBlockItem">
                            <img class="programmBlockIcon" src="./assets/images/icons/3.jpeg" alt="picture">
                            <p class="programmBlockItemTitle">17:00</p>
                            <p class="programmBlockItemTextTitle">Начало банкета</p>
                            <p class="programmBlockItemText">Время вкусной еды, танцев и развлечений</p>
                        </div>
                        <div class="programmBlockItem">
                            <img class="programmBlockIcon" src="./assets/images/icons/5.jpg" alt="picture">
                            <p class="programmBlockItemTitle">23:00-01:00</p>
                            <p class="programmBlockItemTextTitle">After-party</p>
                            <p class="programmBlockItemText">Для молодежи</p>
                        </div>
                    </div><!--Окончание programmBlockColumn-->
                    <div class="programBlockColumn second">
                        <div class="programmBlockItem">
                            <img class="programmBlockIcon" src="./assets/images/icons/2.jpg" alt="picture">
                            <p class="programmBlockItemTitle">16:00</p>
                            <p class="programmBlockItemTextTitle">Церемония бракосочетания</p>
                            <p class="programmBlockItemText">На всякий случай приготовьте платочки для трогательного момента</p>
                        </div>
                        <div class="programmBlockItem">
                            <img class="programmBlockIcon" src="./assets/images/icons/4.jpeg" alt="picture">
                            <p class="programmBlockItemTitle">22:00</p>
                            <p class="programmBlockItemTextTitle">Свадебный торт</p>
                            <p class="programmBlockItemText">Сладкая традиция, которую мы не можем обойти стороной</p>
                        </div>
                    </div><!--Окончание programmBlockColumn-->
                    <hr class="programBlockLine">
                    <img class="heart" src="./assets/images/icons/heart.png" alt="heart">
                    <img class="heartSecond" src="./assets/images/icons/heart.png" alt="heart">
                    <img class="heartThird" src="./assets/images/icons/heart.png" alt="heart">
                    <img class="heartFourth" src="./assets/images/icons/heart.png" alt="heart">
                    <img class="heartFifth" src="./assets/images/icons/heart.png" alt="heart">
                </div>
                <img class="programmBlockFlowersColor" src="./assets/images/flowers.png" alt="flowers">
            </section>
            <!--Style Блок-->
            <section id="dress" class="style">
                <p class="styleTitle">Дресс-код</p>
                <p class="styleText">Нам будет очень приятно, если Вы поддержите черно-белый классический стиль в своих нарядах</p>
                <div class="styleIconsBlock">
                    <div class="styleIconBlock">
                        <img class="styleIcon" src="./assets/images/tie.png" alt="tie">
                        <p class="styleText iconText">Мужчины:<br> классические костюмы</p>
                    </div>
                    <div class="styleIconBlock">
                        <img class="styleIcon" src="./assets/images/dress.png" alt="tie">
                        <p class="styleText iconText">Девушки:<br> вечерние наряды</p>
                    </div>
                </div>
                <div class="styleColorsBlock">
                    <p class="styleTitleColorsText">Цветовая гамма:</p>
                    <div class="styleColors">
                        <span class="styleBlack"></span><span class="styleWhite"></span>
                    </div>
                </div>
            </section>
            <!--Окончание Style Block-->
            <!--HappyWait Блок-->
            <section class="happyWait">
                <img class="invitationBackgroundImage" src="./assets/images/flowersRight.png" alt="image">
                <img class="invitationBackgroundImage invitationFlowers" src="./assets/images/endBlock.png" alt="image">
                <hr class="happyWaitFirstLine">
                <p class="happyWaitText">Мы с нетерпением ждем самого счастливого дня <br>в нашей жизни!</p>
                <hr class="happyWaitSecondLine">
            </section>
            <!--Окончание HappyWait-->
            <!--Timer Блок-->
            <section id="timer" class="timerBlock">
                    <div class="timer">
                        <p class="timerDate">15 июля 2023</p>
                        <span class="timerText">до свадьбы осталось</span>
                        <div class="timerNumbers">
                            <div class="timerNumbersBlock">
                                <div id="days" class="timerNumbersItems"></div>
                                <p class="timerNumbersItemsText">дни</p>
                            </div>
                            <div class="timerNumbersBlock">
                                <div id="hours" class="timerNumbersItems"></div>
                                <p class="timerNumbersItemsText">часы</p>
                            </div>
                            <div class="timerNumbersBlock">
                                <div id="minutes" class="timerNumbersItems">51</div>
                                <p class="timerNumbersItemsText">мин</p>
                            </div>
                            <div class="timerNumbersBlock">
                                <div id="seconds" class="timerNumbersItems">05</div>
                                <p class="timerNumbersItemsText">сек</p>
                            </div>
                        </div>
                    </div>
            </section>
            <!--Окончание Timer Блок-->
            <!--Wedding manager Блок-->
            <section id="manager" class="weddingManagerBlock">
                <img class="weddingManagerBackground" src="./assets/images/flowers.png" alt="flowers">
                    <hr class="weddingManagerBlockLine">
                    <p class="weddingManagerTitle">Свадебный организатор</p>
                    <p class="weddingText">По всем вопросам в день мероприятия обращайтесь к нашему организатору</p>
                    <p class="weddingText nameText">Виктория</p>
                    <p class="weddingText phoneText">+7 999 111-22-33</p>
                    <img class="calenderEndBlockImage" src="./assets/images/endBlock.png" alt="flowers">
            </section>
            <!--Окончание Wedding manager Блок-->
            <!--Form Block-->
            <section id="form" class="formBlock">
                <p class="formTitleText">Подтвердите, пожалуйста, своё пристутсвие на торжестве!</p>
                <p class="formTitleText responceDateText">Будем ждать ответ до 01.07.2023 г.</p>
                <i class="fa fa-angle-double-down arrowDown" aria-hidden="true"></i>
                <form id="form">
                    <div>
                        <label class="labelSurname" for="surname">Ваша фамилия:</label>
                        <input type="text" id="surname" name="surname" required>
                    </div>
                    <div style="margin-top:40px">
                        <label for="name">Ваше имя (укажите все имена гостей и возраст детей):</label>
                        <textarea type="text" id="nameText" name="name" placeholder="Например: Иван и Анна, дети София 8 лет и Артур 5лет" required></textarea>
                    </div>
                    <div class="choiceOption">
                        <label for="choice">Присутствие:</label>
                        <div>
                            <input type="radio" id="choiceYes" name="choice" value="Yes">
                            <label class="choiceLabel" for="choicePresense">Я (мы) с удовольствием приду (придем)</label>
                        </div>
                        <div>
                            <input type="radio" id="choiceNo" name="choice" value="No">
                        <label class="choiceLabel" for="choicePresense">К сожалению, не смогу (не сможем) присутствовать</label>
                        </div>
                    </div>
                    <div>
                        <button id="btn" type="submit">Отправить</button> 
                    </div>
                </form>
                <img class="calenderEndBlockImage" src="./assets/images/endBlock.png" alt="flowers">
                <p class="formBlockFinishedText">Будем рады видеть вас на нашем празднике!</p>
                <p class="formBlockTextNames">Александр и Екатерина</p>
                
            </section>
            <section class="centerEndBlockFlowers">
                <img class="formEndBlockFlowers" src="./assets/images/centerFlowers.png" alt="flowers">
            </section>
        </div>
        <script src="https://kit.fontawesome.com/7a584bd250.js" crossorigin="anonymous"></script>
        <script src="./assets/js/script.js"></script>
    </body>
</html>